{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <style>
    .jumbotron {
        background: url('{% static "bkg.jpg" %}');
        height:350px;
        color: #FFF;
        text-shadow: black 0.3em 0.3em 0.3em;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question Website</title>
</head>
<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-left">
        <li><h3 class="text-muted">URLy Bird</h3></li>
        <li role="presentation" class="active"><a href="{% url 'view_questions' %}">Questions</a></li>
        <li role="presentation" class="active"><a href="{% url 'ask_question' %}">Ask</a></li>
      </ul>
      <ul class="nav nav-pills pull-right">

        {% if request.user.is_authenticated %}
          <li role="presentation"><a href="{% url 'view_user' request.user.id %}">User: {{ request.user.username }}</a></li>
          <li role="presentation"><a href="{% url 'logout' %}?next=/questions/">log out</a></li>
        {% else %}
         <li role="presentation"><a href="{% url 'login' %}">Log in</a></li>
         <li role="presentation"><a href="{% url 'register' %}">Create an account</a></li>
        {% endif %}

      </ul>
    </nav>
  </div>

{% bootstrap_messages %}
{% block content %}
{% endblock %}

<footer class="footer">
  <p>&copy; Just kidding, no copyrights, 2015</p>
</footer>

</div>

</body>
</html>
