{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="jumbotron">
    <h3>
        <div style="
            border-radius: 50%; width: 50px; height: 60px; padding: 8px;
            background: #fff; border: 2px solid black; color: black;
            text-align: center; font: 32px Arial, sans-serif;
            display: inline-block;">
        {{ question.score }}
        </div>
        <a href="{% url 'question_upvote' question.id %}"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <span class="glyphicon glyphicon-arrow-down"></span>
        {{ question.title }}</h3>
    <p class="lead">{{ question.text }}</p>
</div>

{% for comment in question.comment.all %}
<div class="row marketing">
    <div class="col-md-8">
        {{ comment.text }}
    </div>
    <div class="col-md-4">
        {{ comment.owner }}
    </div>
</div>
{% endfor %}

<div class="row marketing">

    <div class="col-md-4">
        <h4>Leave a Comment</h4>
    </div>
    <div class="col-md-8">
        <form method="POST" action="{% url 'show_question' pk=question.id %}">
            {% csrf_token %}
            {% bootstrap_form question_comment %}
        <input type="submit" name="question_comment" value="Comment on this question"/>
        </form>
      </p>
     </div>
</div>

<h2>Answer this Question</h2>
<form method="POST" action="{% url 'show_question' question.id %}">
    {% csrf_token %}
    {% bootstrap_form answer_form %}
<input type="submit" name="submit" value="Leave this answer"/>
</form>


<div class="row marketing">

{% bootstrap_pagination page_obj %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Score</th>
			<th>Answer</th>
		</tr>
	</thead>
	<tbody>
		{% for ans in answers %}
		<tr>
			<td>{{ ans.score }}</td>
			<td>{{ ans.text }} <br />
                {{ ans.user.username }}
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>


{% bootstrap_pagination page_obj %}

{% endblock %}
