{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="jumbotron">
    <h1>{{ user.username }}</h1>
    <h2><a href="{% url "edit_user" %}">Edit User</a></h2>
    <h3>{{ score }}</h3>
    <p class="lead">User of this site</p>
</div>

<div class="row marketing">

    {% if is_paginated %}
         {% bootstrap_pagination page_obj %}
    {% endif %}

{#<table class="table table-striped">#}
{#	<thead>#}
{#		<tr>#}
{#			<th>Question</th>#}
{#			<th>Score</th>#}
{#			<th>Question</th>#}
{#            <th>Asker</th>#}
{#		</tr>#}
{#	</thead>#}
{#	<tbody>#}
{#		{% for qu in questions %}#}
{#		<tr>#}
{#			<td>{{ qu.balance }}</td>#}
{#			<td>{{ qu.answer_set.count }}</td>#}
{#			<td><a href="{% url 'show_question' qu.id %}">#}
{#				{{ qu.title }}</a></td>#}
{#            <td><a href="{% url 'view_user' qu.owner.id %}">{{ qu.owner.username }}</a></td>#}
{#		</tr>#}
{#		{% endfor %}#}
{#	</tbody>#}
{#</table>#}
{#</div>#}
<p>{{ user.username }} Questions:
    <ul>
    {% for question in questions %}
        <li><a href="{% url "show_question" question.pk %}">{{ question.title }}</a></li>
    {% endfor %}
    </ul>
</p>

<p>{{ user.username }} Answers:
    <ul>
    {% for answer in answers %}
        <li>{{ answer.parent.title }}</li>
    {% endfor %}
    </ul>
</p>
    {% if is_paginated %}
         {% bootstrap_pagination page_obj %}
    {% endif %}

{% endblock %}
